.nav {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.nav a,
.nav button {
  display: flex;
  justify-content: center;
  align-items: center;

  background: #eee;
  border-radius: .2rem;
  height: 40px;
  width: 40px;
  border: 1px solid transparent;
  cursor: pointer;
  transition: .1s;
}

.nav a:hover,
.nav button:hover,
.nav a:focus,
.nav button:focus {
  background: white;
  box-shadow: 0 0 0 3px #eee;
  border-color: #333;
  outline: none;
}

.nav a.active {
  background: white;
  box-shadow: 0 0 0 3px #fea;
  border-color: #fb1;
}

.nav a.active svg > *{
  fill: #fb1;
}

.mobileButton {
  display: flex;
  justify-content: center;
  align-items: center;

  background: #eee;
  border: 1px solid transparent;
  border-radius: .2rem;
  padding: 0px;
  height: 40px;
  width: 40px;
  cursor: pointer;
  transition: .1s;
}

.mobileButton::after {
  content: '';
  display: block;
  width: 1.2rem;
  height: 2px;
  border-radius: 2px;
  background: currentColor;
  box-shadow: 0 6px currentColor, 0 -6px currentColor;
  transition: .2s;
}

.mobileButton:focus,
.mobileButton:hover,
.mobileButtonActive {
  outline: none;
  background: white;
  box-shadow: 0 0 0 3px #fea;
  border-color: #fb1;
  color: #fb1;
}

.mobileButtonActive::after {
  transform: rotate(-90deg);
  width: 4px;
  height: 4px;
  box-shadow: 0 8px currentColor, 0 -8px currentColor;
}

.navMobile {
  display: block;
  position: absolute;
  top: 70px;
  right: 0px;
  padding: 0 1rem;
  background: white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
  border-radius: .2rem;
  transform: translateX(-10px);
  opacity: 0;
  pointer-events: none;
}

.navMobileActive {
  opacity: 1;
  z-index: 100;
  transform: initial;
  pointer-events: initial;
  transition: .3s;
}

.navMobile a,
.navMobile button {
  display: flex;
  align-items: center;
  background: none;
  width: 100%;
  border: none;
  border-bottom: 1px solid #eee;
  padding: .5rem 0;
  cursor: pointer;
}

.navMobile a:hover svg > *,
.navMobile button:hover svg > * {
  fill: #fb1;
}

.navMobile button {
  border-bottom: none;
}

.navMobile svg {
  margin-right: .5rem;
}